<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Contact</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/dataTables.bootstrap5.min.css">
</head>
<body>
	<header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
      <div class="col-md-3 mb-2 mb-md-0">
        <a>PayMyBuddy</a>
      </div>


      <div class="col-md-3 text-end">
      	<ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
      		<li><a href="" class="nav-link px-2">Home</a></li>
        	<li><a href="transfer" class="nav-link px-2">Transfer</a></li>
        	<li><a href="profile" class="nav-link px-2">Profile</a></li>
        	<li><a href="contact" class="nav-link px-2 link-secondary">Contact</a></li>
        	<li><a href="/logout" class="nav-link px-2">Log off</a></li>
        </ul>
      </div>
    </header>
	<h1>Contacts</h1>
	<div class="container">
		<table id="example" class="table table-striped dataTable" style="width:100%">
			<thead>
				<tr>
	            	<th>id</th>
	        	</tr>
        	</thead>
        	<tbody>
				<tr th:each="contact : ${myContacts}">
					<td th:text="${contact.friendAccount.username}"></td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="mb-5"></div>
	<div class="container">
		<h4>Add a new contact</h4>
		<form action="createContact" method="post">
			<div class="mb-3">
				<input type="text" name="email" class="form-control" placeholder="enter new contact emailAddress">
			</div>
			<button class="btn btn-primary">Register</button>
			</form>
	</div>
	
	<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
	<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
	<script src="https://cdn.datatables.net/1.13.4/js/dataTables.bootstrap5.min.js"></script>
	<script src="./js/tableJs.js"></script>

</body>
</html>