<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/dataTables.bootstrap5.min.css">
</head>
<body>


	<section>
		<h1>PayMyBuddy</h1>
		<a href="signUp" class="nav-link px-2">SignUp</a>
		<a href="signin" class="nav-link px-2">Login</a>
	</section>



</body>
</html>