<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>LogIn</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/dataTables.bootstrap5.min.css">
</head>
<body>
	<section>
    	<div class="container p-3">
			<div class="row">
				<div class="col-md-6 offset-md-3">
					<div class="card text-center">

						<th:block th:if="${session.msg}">
							<p class="text-center fs-4 text-success">[[${session.msg}]]</p>
							<th:block th:text="${#session.removeAttribute('msg')}"></th:block>
						</th:block>


						<div class="card-body">
							<div class="mb-4">
								<a class="btn  btn-success disabled">PayMyBuddy</a>
							</div>
						    <form name='f' action="login" method='POST'>
								<div class="mb-3">
										<input type='text' name='username' value='' class="form-control" placeholder="username">
								</div>
								<div class="mb-3">
						                <input type='password' name='password' class="form-control" placeholder="password"/>
						        </div>
								<div class="mb-3">
										<a>Remember Me:</a>
						                <input type="checkbox" name="remember-me" />
						        </div>
						        <div class="mb-3"></div>
										<input name="submit" type="submit" class="btn btn-sm btn-primary" value="submit" />
						    </form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

</body>
</html>