<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Profile</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/dataTables.bootstrap5.min.css">
</head>
<body>
	<header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
      <div class="col-md-3 mb-2 mb-md-0">
        <a>PayMyBuddy</a>
      </div>


      <div class="col-md-3 text-end">
      	<ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
      		<li><a href="" class="nav-link px-2">Home</a></li>
        	<li><a href="transfer" class="nav-link px-2">Transfer</a></li>
        	<li><a href="profile" class="nav-link px-2 link-secondary">Profile</a></li>
        	<li><a href="contact" class="nav-link px-2">Contact</a></li>
        	<li><a href="/logout" class="nav-link px-2">Log off</a></li>
        </ul>
      </div>
    </header>
    <div class="container-sm">
	<h3>Username : [[${user.username}]]</h3>
	<div class="card-body">
		<form action="updateUsername" method="post">
			<div class="mb-3">
				<input type="text" name="string" class="form-control-sm" placeholder="enter new username">
			</div>
			<button class="btn btn-sm btn-primary">Save  username</button>
		</form>
	</div>
	<h3>EmailAddress : [[${user.emailAddress}]]</h3>
	<div class="card-body">
		<form action="updateEmailAddress" method="post">
			<div class="mb-3">
				<input type="text" name="email" class="form-control-sm" placeholder="enter new emailAddress">
			</div>
			<button class="btn btn-sm btn-primary">Save emailaddress</button>
		</form>
	</div>
	<h3>Password</h3>
	<div class="card-body">
		<form action="updatePassword" method="post">
			<div class="mb-3">
				<input type="text" name="string" class="form-control-sm" placeholder="enter new password">
			</div>
			<button class="btn btn-sm btn-primary">Change password</button>
		</form>
	</div>
	<h3>Money : [[${user.money}]]</h3>
	<div class="card-body">
		<form action="addMoney" method="post">
			<div class="mb-3">
				<input type="number" name="money" class="form-control-sm">
			</div>
			<button class="btn btn-sm btn-primary">add money</button>
		</form>
	</div>
	</div>
</body>
</html>