<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>SignUp</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/dataTables.bootstrap5.min.css">
</head>
<body>
	<section>
		<div class="container p-3">
			<div class="row">
				<div class="col-md-6 offset-md-3">
					<div class="card text-center">

						<th:block th:if="${session.msg}">
							<p class="text-center fs-4 text-success">[[${session.msg}]]</p>
							<th:block th:text="${#session.removeAttribute('msg')}"></th:block>
						</th:block>


						<div class="card-body">
							<div class="mb-4">
								<a class="btn  btn-success disabled">PayMyBuddy</a>
							</div>
							<form action="createUser" method="post">
								<div class="mb-3">
									 <input type="text"
										name="username" required="required" pattern="\w{6,16}" class="form-control" placeholder="username 6 to 16 characters">
								</div>
								<div class="mb-3">
									 <input type="text"
										name="email" required="required" pattern=".{9,}" class="form-control" placeholder="emailAddress 9 characters minimum">
								</div>
								<div class="mb-3">
									 <input type="text"
										name="password" required="required" pattern=".{10,16}" class="form-control" placeholder="password 10 to 16 characters">
								</div>
								<div class="mb-3"></div>
								<button class="btn btn-sm btn-primary">Register</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>
</html>